.divttl {
  background-color: rgb(231, 231, 231);
}
.priceCard {
  height: 600px;
  width: 100%;
  background-color: rgb(231, 231, 231);
  display: flex;
}
.card1line1 {
  width: 25rem;
  margin-top: 3rem;
  margin-left: 15rem;
  margin-bottom: 46px;
}
.card2line1 {
  width: 25rem;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-bottom: 46px;
}
.card3line1 {
  width: 25rem;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-bottom: 46px;
}
.card1-ttl {
  padding-left: 15rem;
  padding-top: 4rem;
  margin-bottom: 0px;
}
.card-body {
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.card-img-top {
  height: 22rem;
}
.rateDiv {
  padding-left: 8px;
  margin-bottom: 2px;
}
.star {
  font-size: 28px;
  cursor: pointer;
}

.rated {
  color: orange;
}
.unrated {
  color: lightgrey;
}
.num {
  font-size: 22px;
}
.fnt {
  font-size: 24px;
}
.price {
  padding-left: 8px;
}
.strikeprice {
  color: lightgrey;
}
.hrline {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 850px) {
  .card1-ttl {
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 0px;
  }
  .priceCard {
    height: 650px;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: block;
    padding-top: 5px;
  }
  .card-img-top {
    height: 10rem;
  }
  .card1line1 {
    width: 40%;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 10px;
    display: inline-block;
  }
  .card2line1 {
    width: 40%;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 10px;
    display: inline-block;
  }
  .card3line1 {
    width: 40%;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-bottom: 46px;
    display: inline-block;
  }
  .star {
    font-size: 20px;
    cursor: pointer;
  }
  .num {
    font-size: 15px;
  }
  .fnt {
    font-size: 15px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1400px) {
  .priceCard {
    padding-right: 1rem;
  }
  .card1-ttl {
    padding-left: 2rem;
    padding-top: 4rem;
    margin-bottom: 0px;
  }
  .card1line1 {
    width: 25rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 46px;
  }
  .card2line1 {
    width: 25rem;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 46px;
  }
  .card3line1 {
    width: 25rem;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 46px;
  }
}
