.card3-ttl {
  padding-left: 15rem;
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color: rgb(231, 231, 231);
}
.priceCardThird {
  height: 380px;
  width: 100%;
  background-color: rgb(231, 231, 231);
  display: flex;
}
.card-body-small {
  font-size: 10px;
  padding-left: 1rem;
  padding-top: 2px;
  padding-bottom: 2px;
}
.card-img-top-2 {
  height: 14rem;
}
.star-small {
  font-size: 23px;
  cursor: pointer;
}
.num-small {
  font-size: 17px;
}
.fnt-small {
  font-size: 20px;
}
.priceCardsmall {
  display: flex;
  background-color: rgb(231, 231, 231);
}
.card1line4 {
  width: 18rem;
  margin-top: 10px;
  margin-left: 15rem;
  margin-bottom: 18px;
}
.card2line4 {
  width: 18rem;
  margin-top: 10px;
  margin-left: 68px;
  margin-bottom: 16px;
}
.card3line4 {
  width: 18rem;
  margin-top: 10px;
  margin-left: 68px;
  margin-bottom: 18px;
}
.card4line4 {
  width: 18rem;
  margin-top: 10px;
  margin-left: 68px;
  margin-bottom: 16px;
}
.card1line5 {
  width: 18rem;
  margin-top: 5px;
  margin-left: 15rem;
  margin-bottom: 18px;
}
.card2line5 {
  width: 18rem;
  margin-top: 5px;
  margin-left: 68px;
  margin-bottom: 18px;
}
.card3line5 {
  width: 18rem;
  margin-top: 5px;
  margin-left: 68px;
  margin-bottom: 18px;
}
.card4line5 {
  width: 18rem;
  margin-top: 5px;
  margin-left: 68px;
  margin-bottom: 18px;
}
@media screen and (max-width: 850px) {
  .card3-ttl {
    padding-left: 2rem;
    margin-bottom: 0px;
  }
  .card-img-top-2 {
    height: 80px;
  }
  .priceCardThird {
    padding-top: 1rem;
    height: 25vh;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
  }
  .priceCardsmall {
    padding-top: 1rem;
    height: 25vh;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
  }
  .card1line4 {
    width: 24vw;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 30px;
    /* display: inline-block; */
  }
  .card2line4 {
    width: 24vw;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 30px;
    /* display: inline-block; */
  }
  .card3line4 {
    width: 24vw;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 30px;
    /* display: inline-block; */
  }
  .card4line4 {
    width: 24vw;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 30px;
    /* display: inline-block; */
  }
  .card1line5 {
    width: 24vw;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 30px;
  }
  .card2line5 {
    width: 24vw;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 30px;
  }
  .card3line5 {
    width: 24vw;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 30px;
  }
  .card4line5 {
    width: 24vw;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 30px;
  }
  .star-small {
    font-size: 12px;
    cursor: pointer;
  }
  .num-small {
    font-size: 9px;
  }
  .fnt-small {
    font-size: 10px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1400px) {
  .card3-ttl {
    padding-left: 2rem;
    margin-bottom: 0px;
  }
  .priceCardThird {
    padding-right: 1rem;
  }
  .priceCardsmall {
    padding-right: 1rem;
  }
  .card1line4 {
    width: 18rem;
    margin-top: 10px;
    margin-left: 1rem;
    margin-bottom: 18px;
  }
  .card2line4 {
    width: 18rem;
    margin-top: 10px;
    margin-left: 1rem;
    margin-bottom: 16px;
  }
  .card3line4 {
    width: 18rem;
    margin-top: 10px;
    margin-left: 1rem;
    margin-bottom: 18px;
  }
  .card4line4 {
    width: 18rem;
    margin-top: 10px;
    margin-left: 1rem;
    margin-bottom: 16px;
  }
  .card1line5 {
    width: 18rem;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 18px;
  }
  .card2line5 {
    width: 18rem;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 18px;
  }
  .card3line5 {
    width: 18rem;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 18px;
  }
  .card4line5 {
    width: 18rem;
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 18px;
  }
}
