.div-ttl2 {
  background-color: rgb(231, 231, 231);
}
.card2-ttl {
  padding-left: 15rem;
  margin-bottom: 0px;
}
.priceCardsecond {
  height: 550px;
  width: 100%;
  background-color: rgb(231, 231, 231);
  display: flex;
}
.priceCardanother {
  height: 550px;
  width: 100%;
  background-color: rgb(231, 231, 231);
  display: flex;
}
.card-img-top-1 {
  height: 20rem;
}
.card1line2 {
  width: 25rem;
  margin-top: 3rem;
  margin-left: 15rem;
  margin-bottom: 29px;
}
.card2line2 {
  width: 25rem;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-bottom: 29px;
}
.card3line2 {
  width: 25rem;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-bottom: 29px;
}
.card1line3 {
  width: 25rem;
  margin-top: 0rem;
  margin-left: 15rem;
  margin-bottom: 55px;
}
.card2line3 {
  width: 25rem;
  margin-top: 0rem;
  margin-left: 5rem;
  margin-bottom: 55px;
}
.card3line3 {
  width: 25rem;
  margin-top: 0rem;
  margin-left: 5rem;
  margin-bottom: 55px;
}
@media screen and (max-width: 850px) {
  .priceCardsecond {
    height: 60vw;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
  }
  .priceCardanother {
    height: 60vw;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
  }
  .card2-ttl {
    padding-left: 1rem;
    margin-bottom: 0px;
  }
  .card1line2 {
    width: 30vw;
    margin-top: 1rem;
    margin-left: 2px;
    margin-bottom: 10px;
    /* display: inline-block; */
  }
  .card2line2 {
    width: 30vw;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 10px;
    /* display: inline-block; */
  }
  .card3line2 {
    width: 30vw;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 10px;
    /* display: inline-block; */
  }
  .card1line3 {
    width: 30vw;
    margin-top: 1rem;
    margin-left: 2px;
    margin-bottom: 15px;
    /* display: inline-block; */
  }
  .card2line3 {
    width: 30vw;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 15px;
    /* display: inline-block; */
  }
  .card3line3 {
    width: 30vw;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 15px;
    /* display: inline-block; */
  }
  .card-img-top-1 {
    height: 105px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1400px) {
  .priceCardsecond {
    padding-right: 1rem;
  }
  .priceCardanother {
    padding-right: 1rem;
  }
  .card2-ttl {
    padding-left: 2rem;
    margin-bottom: 0px;
  }
  .card1line2 {
    width: 25rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 29px;
  }
  .card2line2 {
    width: 25rem;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 29px;
  }
  .card3line2 {
    width: 25rem;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 29px;
  }
  .card1line3 {
    width: 25rem;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-bottom: 55px;
  }
  .card2line3 {
    width: 25rem;
    margin-top: 0rem;
    margin-left: 2rem;
    margin-bottom: 55px;
  }
  .card3line3 {
    width: 25rem;
    margin-top: 0rem;
    margin-left: 2rem;
    margin-bottom: 55px;
  }
}
