.container {
  margin-left: 15rem;
}
.btmDiv {
  background-color: rgb(102, 100, 100);
}
@media screen and (min-width: 850px) and (max-width: 1400px) {
  .container {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 850px) {
  .container {
    margin-left: 10px;
  }
}
