* {
  font-family: Arial;
  border: border-box;
  margin: 0;
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: white;
}
.navbar1 {
  background-color: #0f1111;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navlogo {
  height: 50px;
  width: 100px;
}
.logo {
  /* background-image: url("C:\eCommerce_react\my-app\public\getsitelogo.png"); */
  background-size: cover;
  height: 50px;
  width: 100%;
}
.navborder {
  border: 1.5px transparent;
}
.navborder:hover {
  border: 1.5px solid white;
}
.loc {
  font-size: 1rem;
  color: #cccccc;
  margin-left: 3px;
  margin-bottom: 0px;
}

.addicon {
  display: flex;
  align-items: center;
}
.navsearch {
  display: flex;
  width: 620px;
  height: 40px;
  border-radius: 4px;
  background-color: pink;
  justify-content: space-evenly;
}
.searchselect {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.searchinput {
  width: 100%;
  font-size: 1rem;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.imgflag {
  width: 2rem;
  height: 1.7rem;
}
.langselect {
  background-color: #0f1111;
  color: white;
  border: none;
}

span {
  font-size: 0.7rem;
}
.signbox {
  font-size: 0.85rem;
  font-weight: 700;
}
.navsearch:hover {
  border: 2px solid rgb(235, 198, 131);
}
.navcart i {
  font-size: 30px;
}
.navcart {
  font-size: 0.85rem;
  font-weight: 700;
}
.cart-total {
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: orange;
  color: black;
  margin-top: -5px;
  margin-left: -8px;
  border-radius: 100%;
  position: absolute;
}
.panel {
  height: 40px;
  background-color: #f3f3f3;
  display: flex;
  color: black;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}
.all {
  display: flex;
  margin-left: 2px;
}
.fa-bars {
  margin-right: 5px;
}
.panelops p {
  display: inline;
  margin-left: 25px;
}
.panelops {
  width: 70%;
  font-size: 0.85rem;
}
.paneldeals {
  font-size: 0.9rem;
}
.sidebar {
  background-color: white;
  width: 20%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  overflow-y: scroll;
  box-shadow: 2px 2px 30px black;
}

.hdn-head {
  background-color: #232f3e;
  height: 60px;
  width: 100%;
  color: white;
  align-items: center;
}
.hdn-head h2 {
  line-height: 30px;
}
.hdn-content h3 {
  padding: 15px 25px;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: rgb(39, 39, 39);
}
.hdn-content ul div {
  list-style: none;
  display: flex;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px;
  color: rgb(70, 70, 70);
  padding: 15px 25px;
  justify-content: space-between;
}
ul {
  padding: 0;
}
.hdn-content {
  border-bottom: 1px solid #d5dbdb;
}

.menuitem {
  padding: 13px 20px 13px 36px;
}
ul li {
  margin: 0;
  list-style: none;
}
.arrowright {
  padding-right: 10px;
}
.hdn-content ul div:hover {
  background-color: rgb(230, 227, 227);
}
.black {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu {
  display: none;
}
.navsidebar {
  background-color: black;
  width: 35%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1000;
  color: white;
  display: block;
}
.content div {
  margin-left: 2rem;
  margin-top: 3rem;
}
.leftDiv {
  position: absolute;
  width: 65%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

/* navbar hidemark */

.hidemark {
  top: 5vw;
  right: 38vw;
  position: absolute;
  font-size: 30px;
  color: white;
  z-index: 10000;
}

/* all hidemark */

.allhidebar {
  top: 70px;
  left: 400px;
  position: absolute;
  font-size: 30px;
  color: white;
  z-index: 10000;
}

@media screen and (max-width: 1200px) {
  .navaddress,
  .language,
  .signin,
  .navcart {
    display: none;
  }
  .navbar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: block;
    margin-right: 10px;
  }
  .navaddress1.navborder {
    margin-left: 0;
    margin-top: 0;
  }
  .all {
    display: flex;
  }
  .navsearch {
    width: 25rem;
  }
  .panelops,
  .paneldeals {
    display: none;
  }
  .panel {
    justify-content: flex-start;
  }
  .hdn-head h2 {
    font-size: 4vw;
  }
  .sidebar {
    width: 50%;
  }
  .allhidebar {
    top: 5vw;
    left: 55vw;
  }
  .hidemark {
    top: 8vw;
    left: 55vw;
  }
}
