.prodContainer {
  background-color: #e2e7e6;
  display: flex;
  justify-content: center;
}
.product-section {
  width: 88rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 1rem;
  column-gap: 3rem;
  justify-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.filterbtn {
  width: 8rem;
  margin-left: 1rem;
  margin-top: 2rem;
}
.parent {
  display: flex;
  background-color: #e2e7e6;
}
.catBtn {
  display: grid;
  grid-template-columns: repeat(auto-fit, 9rem);
  background-color: #e2e7e6;
  padding-left: 8rem;
  width: 60%;
}
.sort-section {
  position: absolute;
  display: inline-flex;
  width: 20%;
  margin-left: 80%;
  padding-top: 2.5rem;
}
.select {
  font-size: 1.1rem;
  width: 8rem;
}
/* .leftProduct {
  position: absolute;
  width: 15%;
  height: 100%;
  background-color: lightgray;
  padding-left: 2rem;
  padding-top: 2rem;
} */
