.carousel {
  width: 63%;
  height: 500px;
  position: relative;
  margin-left: 60px;
}
.c-img {
  height: 500px;
  object-fit: content;
}

.rightDiv {
  width: 27%;
  height: 500px;
  background-color: white;
  margin-left: 4rem;
}
h2 {
  padding-top: 1rem;
  padding-left: 4rem;
}
img.imgSale {
  height: 275px;
  width: 370px;
  margin-left: 4rem;
  margin-top: 1rem;
}
.anchor {
  margin-left: 4rem;
  font-size: 23px;
  color: darkblue;
  text-decoration: none;
}
.slideDiv {
  display: flex;
  background-color: rgb(231, 231, 231);
}

@media screen and (max-width: 990px) {
  .carousel {
    width: 100%;
    height: 300px;
    margin-left: 0px;
  }
  .slideDiv {
    display: block;
  }
  .c-img {
    height: 300px;
    object-fit: content;
  }
  .rightDiv {
    width: 60%;
    height: 60vw;
    background-color: white;
    margin-left: 5rem;
  }
  h2 {
    padding-top: 1rem;
    padding-left: 2rem;
  }
  img.imgSale {
    height: 70%;
    width: 70%;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 990px) and (max-width: 1700px) {
  .carousel {
    width: 100%;
    height: 500px;
    margin-left: 0px;
  }
  .slideDiv {
    display: block;
  }
  .c-img {
    height: 500px;
    object-fit: content;
  }
  .rightDiv {
    width: 50%;
    height: 500px;
    background-color: white;
    margin-left: 15rem;
  }
}
